{% extends "gcc/base.html" %}

{% load static %}
{% load i18n %}

{% block title %}{% trans 'Main Informations' %}{% endblock %}

{% block content %}
<div class="container">
  <h3>{% trans 'Content of the summer camps' %}</h3>
  <p>
    {% blocktrans %}The summer camps last for one week and manly consist of practical exercises.
    The week starts with an initiation to the Python programming language, and the some
    introductive tutorials on several domains of informatics like network or web design. Finally,
    the week ends with the creation of a personal project, that can be chosen among several main
    topics: video game, robotics or microcontroller.{% endblocktrans %}
  </p>

  <h3>{% trans 'The schedule' %}</h3>
  <p>
    {% blocktrans %}Here is a typical schedule of a GCC! week. Notice that the attendees can arrive
    between 9 am and 9:30 am and can leave at between 18 pm and 19 am.{% endblocktrans %}
  </p>
  <a href="{% static 'gcc/img/schedule.svg'%}">
    <img alt="Typical Schedule of a GCC! Week" src="{% static 'gcc/img/schedule.svg' %}" />
  </a>

  <h3>{% trans 'Academic level' %}</h3>
  <p>
    {% blocktrans %}We accept girls attending to secondary school are higher, the difficulty of the
    internship aims at adapting to the knowledge of participant.{% endblocktrans %}
  </p>

  <h3>{% trans 'Grants' %}</h3>
  <p>
    {% blocktrans %}The Prologin can attribute grants for some of the participants. Specifically,
    Prologin can pay back the costs of the transport and housing for participants who need to keep
    the receipts.{% endblocktrans %}
  </p>

  {% blocktrans %}To candidate for a grant you need to send an email to bourse2019@prologin.org and
  specify the following informations:{% endblocktrans %}
  <ul>
    <li>{% blocktrans %}first and last name of the participant{% endblocktrans %}</li>
    <li>{% blocktrans %}whether you need this grant for the travel, the housing or both
      {% endblocktrans %}</li>
    <li>{% blocktrans %}a proof of address{% endblocktrans %}</li>
    <li>{% blocktrans %}a your last tax notice{% endblocktrans %}</li>
  </ul>
</div>
{% endblock %}
