{% load i18n %}

{% block content %}
<section class="up-comming">
  <h2>{% trans "Up-comming summer camps" %}</h2>
  <table class="table">
    <tbody>
      {% for event in events %}
      <tr>
        <td>
          <strong>{{ event.center }}</strong>, {% trans 'the week of' %}
          <em>{{ event.event_start|date:"DATE_FORMAT" }}</em>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <p>
    {% if user.is_authenticated %}
      <a href="/application/form/{{last_edition}}" class="btn btn-primary btn-lg btn-block">{% trans 'Apply' %}</a>
    {% else %}
      <a href="{% url 'proloauth_client:autologin' %}" class="btn btn-primary btn-lg btn-block">{% trans 'Sign in and apply' %}</a>
    {% endif %}
  </p>
</section>
{% endblock %}
