{% extends "gcc/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Applications" %}{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static " gcc/css/application.css"%}"> {% endblock %}

{% block content %} <section class="wrapper">
<div class="container">
  <h3>
    {% blocktrans with event=event.short_description %}
      Candidates for {{ event }} (edition {{ edition }})
    {% endblocktrans %}
  </h3>
  <p>
    <small>{% blocktrans %}
      ↓↑ to browse among applicants, &lt;escape&gt; to close all expanded applications.
    {% endblocktrans %}</small>
  </p>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Previously candidate</th>
          <th>Labels</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for applicant in applicants %}
          <tr class="applicant-head" id="applicant-{{applicant.pk}}">
            <td>
              <strong>
                <span class="first-name">{{applicant.user.first_name}}</span>
                <span class="last-name">{{applicant.user.last_name}}</span>
              </strong>
            </td>
            <td>Yes</td>
            <td>
              {% for label in applicant.labels.all %}
                <span class="label label-default label-xs"><a href="{% url 'gcc:delete_applicant_label' event=event.pk applicant=applicant.pk label=label.pk %}">{{label}}</a></span>
              {% endfor %}
            </td>
            <td>Accepted (<a href="#">cancel</a>)</td>
          </tr>
          <tr style="display: none">
            <td colspan="4">
              <div class="row">
                <div class="col-md-6">
                  <h3>{% trans "Profile of" %} {{applicant.user.first_name}} {{applicant.user.last_name}}</h3>
                  <dl class="dl-horizontal">
                    <dt>{% trans 'login/nickname' %}</dt>
                    <dd>{{applicant.user.username}}</dd>
                    <dt>{% trans 'email' %}</dt>
                    <dd>{{applicant.user.email}}</dd>
                    <dt>{% trans 'birthday' %}</dt>
                    <dd>{{applicant.user.birthday}}</dd>
                    <dt>{% trans 'participations' %}</dt>
                    <dd>None</dd>
                  </dl>
                </div>
                <div class="col-md-6">
                  <ul class="list-group">
                    {% for wish in applicant.eventwish_set.all %}
                    <li class="list-group-item {% if wish.event == event %} highlighted {% endif %}">
                        <span class="badge {% if wish.status == 0 %} badge-warning {% elif wish.status == 1 %} badge-default {% elif wish.status == 2 %} badge-danger {% else %} badge-success {% endif %}">{{wish.get_status_display}}</span>
                        <h4 class="list-group-item-heading">{{wish.order}}. {{wish.event.center}}</h4>
                        <p class="list-group-item-text">{{wish.event.event_start}}</p>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
              <div>
                <h3>Form</h3>
                <dl class="dl-vertical">
                  {% for answer in applicant.answers.all %}
                   <dt>{{answer.question}}</dd>
                   <dd>{{answer}}</dt>
                  {% endfor %}
                </dl>
                <h3>
                  Add a label:
                  {% for label in labels %}
                    <span class="label label-default"><a href="{% url 'gcc:add_applicant_label' event=event.pk applicant=applicant.pk label=label.pk %}">{{label}}</a></span>
                  {% endfor %}
                </h3>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</section>
{% endblock %}

{% block extra_script %}
<script src="{% static "gcc/js/application.js"%}"> </script>
{% endblock %}
