Bonjour {{applicant.user.first_name}} {{applicant.user.last_name}},

Après étude des candidatures, nous avons le plaisir de t’informer que tu as été
sélectionnée pour participer au stage « Girls Can Code! » à {{event.center}},
du {{event.event_begin}} au {{event.event_end}}!

Il est très important que tu nous confirme ou que tu nous confirmes ta venue en
cliquant sur le bouton `confirmer` sur la page suivante: {{TODO: URL}}.

Nous te donnons donc rendez-vous le {{event.date_begin}} à 10h à Epita :

{{event.center.address}}

N’oublie pas que l’hébergement n’est pas pris en charge par l’association
Prologin. Si tu le souhaites, nous pouvons te mettre en contact avec les autres
participantes du stage afin de réserver une chambre d’hôtel en commun.

Les petits-déjeuners, déjeuners sont en revanche pris en charge ainsi que le
dîner de fin de stage.

Tu trouveras, en pièce-jointe de ce mail, des documents à remplir et à ramener
le premier jour du stage et nous t’enverrons bientôt un planning des activités.
En plus de la fiche sanitaire à apporter, si tu as des allergies ou
restrictions alimentaire, il est important que tu nous le précise pour que nous
fassions en sorte que tout se passe bien !

Merci de confirmer ton inscription ou de nous prévenir en cas de désistement en
répondant à cet email.

En attendant le stage tu peux aller sur http://france-ioi.org/ pour découvrir,
t’entraîner et t’améliorer avant le stage.

Cordialement,
-- 
L'équipe Prologin
