.applicant-head {
    cursor: pointer;
}

.add-label {
    cursor: pointer;
}

.remove-label {
    cursor: pointer;
    display: inline-block;
}

.remove-label:hover {
    color: rgba(255, 255, 255, 0.3);
}

.remove-label:hover:before {
    content: "⨉ ";
    position: absolute;
    color: white;
}

.wish-actions {
    position: absolute;
    top: 3em;
    right: 15px;
    font-size: 12px;
}

.update-wish {
    cursor: pointer;
}
