#edition-history img {
    max-width: 100%;
}

#edition-history .edition-header {
    padding-bottom: 40px;
}

#edition-history .edition-header:after {
    content: "";
    width: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -5px;
    background-color: #1d655e;
}

#edition-history h1 {
    padding-top: 40px;
    text-align: right;
}

#edition-history h1::after {
    content: "";
    position: absolute;
    right: -12px;
    width: 20px;
    height: 20px;
    background: #1d655e;
    border-radius: 20px;
    top: 51px;
}

.edition-description {
    font-size: 1.4em;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    /* min-height: 500px; */
}

.edition-description::before {
    content: "";
    width: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1d655e;
}

@media(max-width: 768px) {

    #edition-history h1::after {
        left: -7px;
    }

    #edition-history h1 {
        text-align: left;
    }

    #edition-history .edition-header:after {
        left: 0;
    }

}

/*
 * Photos
 */

.photos-view {
    display: flex;
    justify-content: space-evenly;
    margin: 5px -5px;

}

.photos-view img {
    margin: 5px;
    max-height: 200px;
}
